{% extends 'base.html.twig' %}

{% block title %}
	Confirmation
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="text-center mb-4">
			<h2>Merci pour votre commande,
				{{ order.name }}
				!</h2>
			<div class="alert alert-info mt-3">
				Veuillez effectuer un virement pour finaliser votre achat.
			</div>
		</div>

		<div class="mb-4">
			<h5>📍 Adresse de livraison</h5>
			<p>
				{{ order.name }}<br>
				{{ order.address }}<br>
				{{ order.postalCode }}
				{{ order.city }}<br>
				Téléphone :
				{{ order.phone }}
			</p>
		</div>

		<h4 class="mt-4">🛒 Récapitulatif de la commande</h4>

		<table class="table table-striped table-bordered mt-3">
			<thead class="table-primary">
				<tr>
					<th>Produit</th>
					<th>Quantité</th>
					<th>Prix unitaire</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>

				{% for item in order.orderItems %}
					{{ dump(item) }}
					{% set sousTotal = item.quantity * item.product.price %}
					<tr>
						<td>{{ item.product.name }}</td>
						<td>{{ item.quantity }}</td>
						<td>{{ item.product.price|number_format(2, ',', ' ') }}
							€</td>
						<td>{{ sousTotal|number_format(2, ',', ' ') }}
							€</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr class="table-light">
					<td colspan="3" class="text-end">
						<strong>Total général</strong>
					</td>
					<td>
						<strong>{{ order.totalPrice|number_format(2, ',', ' ') }}
							€</strong>
					</td>
				</tr>
			</tfoot>
		</table>
		<div class="text-center mt-5">
			<a href="{{ path('app_home') }}" class="btn btn-primary">
				⬅️ Retour à l'accueil
			</a>
		</div>
	</div>
{% endblock %}
